
   
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
    --main-font: "Outfit", arial;
    --card-background: hsl(216, 50%, 16%);
    --main-background: hsl(217, 54%, 11%);
    --cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --dark-blue: hsl(215, 32%, 27%);
  }

body {
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-color: var(--main-background); 
}

/* Main and Card Containers */
.main-container {
    margin: 0 auto;
    max-width: 1440px;
    font-family: var(--main-font);
}

.card-container {
    margin: 80px auto;
    width: 290px;
    height: 100%; 
    background-color: var(--card-background);
    border-radius: 15px;
    padding: 1.5rem;
}

/* Card Image */
.card-wrapper_image {
    height: auto;
    width: 100%;
    padding-bottom: 0;
    position: relative;
    cursor: pointer;   
    padding-bottom: 30px; 
}
.card-image {
    background: url("../images/image-equilibrium.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 18rem;
    border-radius: 10px;
}
.card-image_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card-image_overlay:hover {
    background-color: var(--cyan);
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20% 20%;
    opacity: 0.5;
    transition: background-color ease-in-out 0.5s;
}

/* Card Bottom */
.card-title {
    margin: 0;
    color: var(--white);
    font-size: 20px;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.card-title:hover {
    color: var(--cyan);
}
.card-subtitle {
    color: var(--soft-blue);
    line-height: 1.5;
    font-weight: 300;
}
.card-wrapper_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.details-icon {
    height: 20px;
    padding-right: 10px;
}
.details-text {
    margin: 0;
    color: var(--soft-blue);
    font-weight: 400;
}
.details {
    display: flex;
}
.details-text_price {
    color:var(--cyan);
}

/* Line */
.line {
    border-top: solid 1px var(--dark-blue);
}

/* Profile CSS */
.profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.profile-image {
    height: 30px;
    border: solid 1px var(--white);
    border-radius: 50%;
}
.profile-text {
    padding-left: 20px;
    color: var(--soft-blue);
}
.profile-text span {
    color: var(--white);
    font-weight: 300;
    cursor: pointer;
}
.profile-text span:hover {
    color: var(--cyan);
}

